<!DOCTYPE html>
<html>
    <head>
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/Meritor/Generic/Meritor.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
