@*@model System.Web.Mvc.HandleErrorInfo*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GlobalError</title>
</head>
<body>
    <div>
        GlobalError<br>
        @*Controller: @Model.ControllerName <br>
        Action: @Model.ActionName<br>
        Exception: @Model.Exception*@
        Exception: @TempData["exception"]
    </div>
</body>
</html>
