<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Setting1" value="MERITOR.StockRoom.DataAccess.OracleDIDataAccess" />
    <add key="Setting2" value="Value2" />
    <add key="ModificationDate1" value="18:36:19 " />
  </appSettings>
  <unityDb xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="MERITOR.StockRoom.DataAccessInterface" />
    <assembly  name="MERITOR.StockRoom.Business"/>
    <!--<alias alias="IMessages" type="MERITOR.StockRoom.DataAccessInterface.IDIDataAccess, MERITOR.StockRoom.DataAccess.OracleDIDataAccess" />-->
    <container>
      <!--<register type="IMessages" mapTo="MERITOR.StockRoom.DataAccess.OracleDIDataAccess" />-->
      <register  type="MERITOR.StockRoom.DataAccessInterface.IDIDataAccess" mapTo="MERITOR.StockRoom.DataAccess.OracleDIDataAccess" />
      <!--<register type="MERITOR.StockRoom.DataAccessInterface.IDIDataAccess" mapTo="MERITOR.StockRoom.DataAccess.SqlServerDataAccess" />-->
    </container>
  </unityDb>
</configuration>